<ion-view view-title="Forget Password" name="login-view">
    <ion-content class="ion-contentColor" style="margin-top:10%">
     <div class="row">
            <div class="col" >
               
                    <input type="text" class="place" placeholder="Enter email id." data-ng-model="data.email"  />
               
            </div>
           
            </div>
             <div class="row">
            <div class="col" style="text-align:center">
                <button class="button button-small button-outline button-positive round"  data-ng-click="forgetPassword(data)">Submit</button>
            </div>
        </div>
       </ion-content>
</ion-view>