<ion-view view-title="Login" name="login-view">
    <ion-content class="ion-contentColor">
        <div class="row">
            <div class="col col-offset-33">
               
                    <input type="text" placeholder="Username" ng-model="data.username">
               
            </div>
            </div>
        <div class="row"> 
            <div class="col col-offset-33">
               

                    <input type="password" placeholder="Password" ng-model="data.password">
             
</div>
             
    
        </div>
        <div class="row">
            <div class="col col-offset-33">
                <button class="button button-small button-positive-custom" style="color:blue"><i class="ion-log-in"></i></button>
            </div>
        </div>
        <div class="row">
           
            <div class="col col-offset-25 col-50">
                <a class="button button-small button-full button-custom" ui-sref="registration">Create New Account</a>
            </div>
            
           
        </div>
        <div class="row">
            <div class="col col-offset-25 col-50 text-center">
               <a ui-sref="forgotPassword">Forgotten Password?</a>
            </div>
        </div>
    </ion-content>
</ion-view>