.ion-contentColor {
/*background-color:#F0F0F0;*/
background-color:white;
}
.profile-picture {
    border-radius:50%;
    border:1px ridge ThreeDShadow;
}
.profile-picture-div {
    position: relative;  
}

.profile-picture-div:after {
  position: absolute;
  left: 0;
  top: 66%;
 
  background:  #bdc3c7;
  content: "";
  width: 100%;
  display: block;
}
.profile-camera{
    bottom: 10px;
    left: 39%;
    opacity: 0.54;

    position: absolute;
    width: 38px;
}
.left, .right{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  /*-webkit-justify-content: center;*/
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
top:12%;
  z-index: 100;
  width: 44px;
  background-color: rgba(0,0,0,0)
}

.left{

  left: 0;
}

.right{
  right: 0;
}
.place {
    border-bottom:solid !important; border-color:silver !important; border-width:1px !important;text-align:center!important;margin:0 auto;width:33%;font-size:20px !important
}


 